
ul {
    border: 2px solid #f30707; 
    position: relative; 
    z-index: 1; 
    cursor: pointer; /
}


li {
    border: 1px solid #020101; 
    cursor: pointer; 
}


select {
    border: 1px solid #777; 
    position: relative; /
    z-index: 2; /
    cursor: pointer; /
}


option {
    border: 1px solid #999; /
    cursor: pointer; /
}

h1 {
    color: #131212;
    
}